<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="description" content="A admin dashboard application demo built upon Ant Design and Dva.js"/>
  <title>武器装备科研生产单位保密资格审批系统</title>
  <link href="/0.0.1/index.css?144c36df4baca2ba749d" rel="stylesheet"/>
</head>
<body>
<div id="root"></div>
<script  src="/0.0.1/index.js?144c36df4baca2ba749d"></script>
</body>
</html>